certifi
chardet
click
cycler
dash
dash-core-components
dash-html-components
dash-renderer
decorator
Flask
Flask-Compress
gunicorn
idna
ipython-genutils
itsdangerous
Jinja2
jsonschema
jupyter-core
kiwisolver
MarkupSafe
matplotlib
MetPy
nbformat
Pint
plotly
pynverse
pyparsing
pyproj
python-dateutil
pytz
requests
scipy
six
traitlets
urllib3
Werkzeug
